.register-container {
  background: url('/desa2.jpg') no-repeat center center/cover;
  position: relative;
  width: 100vw;    
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.register-card {
  background: rgba(255, 255, 255, 0.6); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;;
}

.register-card h3 {
  color: #555;
  margin-bottom: 8px;
  font-weight: 600;
}

.register-card h1 {
  font-size: 26px;
  margin-bottom: 25px;
  color: #111;
}

.register-card form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-card input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  font-size: 15px;
  outline: none;
  color: black;
}

.register-card button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #0b4b40;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.register-card button:hover {
  background-color: #116b5a;
}

.register-card p {
  margin-top: 15px;
  font-size: 14px;
}

.register-card a {
  color: #0077cc;
  text-decoration: none;
}

.register-card a:hover {
  text-decoration: underline;
}