.dest-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.dest-hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.dest-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.7);
}

.dest-text {
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;
  width: 40%;
}

.dest-title {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
}

.dest-outline {
  font-size: 50px;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px white;
  margin-top: 5px;
}

.dest-desc {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.6;
  width: 90%;
}

.btn-home {
  margin-top: 25px;
  padding: 10px 25px;
  background: #1c3d3b;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.btn-home:hover {
  background: #218838;
  color: #FFFFFF;
}


.dest-cards {
  position: absolute;
  right: 5%;
  bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  align-items: flex-start;  
  gap: 20px;
}

.card {
  width: 180px;
  background: #e7e5e5;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-img {
  width: 100%;
  height: 120px;
  border-radius: 8px;
  object-fit: cover;
}


.card-btn {
  margin-top: 10px;
  padding: 8px 15px;
  background: #1c3d3b; 
  color: #FFFFFF; 
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.card-btn:hover {
  background: green; 
  
  color: #FFFFFF;
}
