.home-page {
  font-family: Arial, sans-serif;
  position: relative;
  width: 100vw;    
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column; 

}

.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 15px 40px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f0f0;
}

.navbar-links {
  margin-left: auto; 
}

.navbar-logo {
  display: flex;
  align-items: center; 
}
.navbar-logo img {
  height: 30px;
  margin-right: 10px;
}

.logo {
  width: 11vh;
  height: auto;
}

.navbar-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background-color 0.3s;
}
.navbar-links a:hover {
  background-color: #f0f0f0;
}

.navbar-buttons .nav-btn {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s;
}
.btn-login {
  background-color: #2F4F4F; 
}
.btn-login:hover {
  background-color: #218838;
}
.btn-register {
  background-color: #2F4F4F; 
}
.btn-register:hover {
  background-color: #218838;
}

.hero-container {
 flex-grow: 1; 
  background: url('/desa1.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  padding-left: 60px;
  color: white;
  position: relative;
}

.hero-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3); 
}

.hero-content {
  position: relative; 
  z-index: 2;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 60px; 
  margin-bottom: 30px;
  line-height: 1.2;
}

.hero-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-view-more {
  background-color: #2F4F4F; 
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;

}
.btn-view-more:hover {
  background-color: #218838;
}

.btn-play {
  background-color: rgba(128, 0, 128, 0.7);
  color: white;
  border: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.btn-play:hover {
  background-color: rgba(128, 0, 128, 1);
}